h1,
p {
  font-family: Lato;
}

.mother {
  width: 100%;
  display: flex;
}
.image-container {
  height: 90vh;
  overflow: scroll;
}
.image-container::-webkit-scrollbar {
  width: 0.5em; /* 스크롤바의 너비 설정 */
}
.image-container::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 배경 설정 */
}
.image-container::-webkit-scrollbar-thumb {
  background: transparent; /* 스크롤바 썸네일 배경 설정 */
}
.image-container > img {
  border: 1px solid red;
  width: 80%;
}
.contents > img {
  width: 30%;
}
.contents {
}
